*{
	margin: 0;
	padding: 0;
}
.firstsec{
	background: url(images/ar.jpg) no-repeat;
	background-size: cover;
	width: 100%;
    height: auto;
}
h1{
	color: #fff;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-shadow: 2px 2px 5px crimson;
	padding: 80px;
	font-weight: bold;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: yellow;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 2rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 20px;
    left: 30%;
}
.categories{
    padding: 4% 0;
    background-color: grey;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}
